* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url(images/pattern-background-desktop.svg);
  background-repeat: repeat-x;
  width: 100%;
  border-color: red;
  background-color: hsl(225, 100%, 94%);
  text-align: center;
}
.container {
  text-align: center;
}
.sub-container {
  display: flex;
  flex-direction: column;
  margin: 2% 35%;
  border-radius: 25px 25px 10px 10px;
}
.person-img {
  width: 100%;
  border-radius: 25px 25px 0px 0px;
}
.bod {
  width: 100%;
  background-color: white;
  padding: 2%;
}
.order h2 {
  margin: 4% 0% 2% 0%;
}
.order p {
  margin: 0% 20%;
  font-size: 0.9rem;
  color: gray;
}
.plan {
  padding: 1%;
  margin: 5% 12%;
  background-color: rgb(236, 233, 233);
}
.plan img {
  padding: 0 3%;
  width: 25%;
}
.plan p {
  padding: 0 3%;
  width: 45%;
}
.plan span {
  padding: 0 3%;
  width: 30%;
}
.try {
  display: flex;
  flex-direction: row;
  margin: 0%;
}
.but {
  border: none;
  padding: 2% 30%;
  border-radius: 25px;
  background-color: hsl(245, 75%, 52%);
  color: white;
  margin-top: 3%;
  cursor: pointer;
}
.but2 {
  border: none;
  margin-top: 2%;
  padding: 2%;
  cursor: pointer;
  color: gray;
  background-color: rgb(235, 224, 224);
}

@media (max-width: 700px) {
  .sub-container {
    margin: 5%;
  }
}

/*
  justify-content: center;
  flex: auto;
  
  width: 42%;
  text-align: center;
}

.order {
  text-align: center;
  padding: 2em 5em 5em;
}

.order p {
  margin-top: 5%;
}
.order a {
  text-align: center;
}
.plan p {
  float: left;
  text-align: justify;
}
.plan .a {
  margin-left: 25%;
}
.plan img {
  margin-left: 20%;
  float: left;
  margin-right: 20px;
}
.but {
  border-radius: 7px;
  margin-left: 30%;
  padding: 10px 40px;
  width: 50%;
  border-color: transparent;
}
.but:hover {
  cursor: pointer;
}
a:hover {
  cursor: pointer;
}
.shad {
  margin-top: 40px;
}
.shad .but {
  background-color: hsl(245, 75%, 52%);
  box-shadow: 0.1em 0.5em 1em hsl(224, 23%, 55%);
  margin-bottom: 20px;
  color: white;
}
.shad-2 .but {
  background-color: white;
  border-color: hsl(0, 0%, 95%);
}
*/
